
.footer {
  background-color: #f0f0f09a;
  padding: 20px 0;
  font-family: sans-serif;
}

.footer-container {
  max-width: 12000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #222f3d;
  height: 370px;
}

.footer-section {
  margin-bottom: 20px;
  width: 25%;
  min-width: 200px;
  color: aliceblue;
}

.footer-section h3 {
  margin-bottom: 10px;
  padding: 2rem;
  text-align: justify;
  font-size: 1.3rem;
}

.footer-section h2{
  font-size: 1.3rem;
  margin-top: 2rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}


.footer-section li {
  margin-bottom: 5px;
  color: aliceblue;
  padding-left: 2rem;
  text-align: justify;
}

.footer-section a {
  text-decoration: none;
  color: #333;
  color: aliceblue;
  text-align: justify;
}

.footer-section a:hover {
  text-decoration: underline;
}


.footer-section copyright{
background-color: #222f3d;
color: #222f3d;
}

